<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TitleKey</key>
		<string>Dashboard</string>
		<key>storyboardID</key>
		<string>Dashboard</string>
		<key>Image</key>
		<string>sidebar.left</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Hello World</string>
		<key>storyboardID</key>
		<string>HelloWorld</string>
		<key>Image</key>
		<string>1.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Three Screens</string>
		<key>storyboardID</key>
		<string>screens</string>
		<key>Image</key>
		<string>2.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>ColourChange</string>
		<key>storyboardID</key>
		<string>Colourapp</string>
		<key>Image</key>
		<string>3.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>StackExample</string>
		<key>storyboardID</key>
		<string>stack</string>
		<key>Image</key>
		<string>4.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>LoginScreen</string>
		<key>storyboardID</key>
		<string>login1</string>
		<key>Image</key>
		<string>5.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>NewsOnAir</string>
		<key>storyboardID</key>
		<string>NOAView</string>
		<key>Image</key>
		<string>6.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>SimpleTable</string>
		<key>storyboardID</key>
		<string>Contacts</string>
		<key>Image</key>
		<string>7.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>CountryTable</string>
		<key>storyboardID</key>
		<string>CountryTV</string>
		<key>Image</key>
		<string>8.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>TableFromJson</string>
		<key>storyboardID</key>
		<string>TableFromJson</string>
		<key>Image</key>
		<string>9.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>SectionedTabelView</string>
		<key>storyboardID</key>
		<string>Section</string>
		<key>Image</key>
		<string>10.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>SimpleCollectionView</string>
		<key>storyboardID</key>
		<string>CollectionView</string>
		<key>Image</key>
		<string>11.circle.fill</string>
	</dict>
	<dict>
		<key>TitleKey</key>
		<string>Dynamic</string>
		<key>storyboardID</key>
		<string>AdvancedTV</string>
		<key>Image</key>
		<string>12.circle.fill</string>
	</dict>
</array>
</plist>
